# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Editor configs
.vscode/
.idea/
*.sublime-*

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db
